html, body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body {
    background-image: url('./images/bg_intro.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.logo {
    width: 150px;
    margin-left: 50px;
}

.nav-links {
    display: flex;
    gap: 15px;
    margin-right: 140px;
}

.nav-links a {
    color: #DAF5DE;
    font-size: 35px;
    text-decoration: none;
    padding: 0 10px;
    position: relative;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.nav-links a:not(:last-child)::after {
    content: "|";
    color: white;
    padding-left: 20px;
}
.nav-links a:hover {
    color: #bfebc6;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.plan_now_text{
    font-size: 60px;
    color:rgba(163, 227, 174, 0.7);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    margin-bottom: 250px;
    margin-top: -50px;
}

.start_button {
    width: 200px;
    height: 100px;
    font-size: 50px;
    font-weight: bold;
    color: #A3E3AE;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    background-color: transparent;
    border: 1px rgb(126, 123, 123) solid;
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.start_button:hover{
    background-color: rgba(131, 141, 133, 0.2);
    color: #95daa1;
}




/*
    color: #9386D5 - purple
    color: #A3E3AE - darker green
    color: #DAF5DE - light green
*/
